<div class="container" id="dash">
  <div class="row">
    <div class="col-4 ">
      <div class="row justify-content-center">
        <h2>My Items</h2>
      </div>
      <div class="item-container">
        <% if @items.empty? %>
          Please upload items
        <% else %>
          <% @items.each do |item| %>
            <div class="card-product">
              <%= cl_image_tag item.photo %>
              <div class="card-product-infos flex-grow">
                <h2><%= item.name %></h2>
                <div class="d-flex justify-content-between">
                  <p><%= item.category.upcase %></p>
                  <p><%= item.price %> C/ day</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-7 offset-1">
      <div class="row justify-content-center">
        <h2>My Bookings</h2>
      </div>
      <div class="row bookings-container justify-content-around">
        <% if @bookings_as_owner.nil? && @own_bookings.nil? %>
          Please make a booking...
        <% else %>
          <div class="my-offers col-6">
            <h2>Requests</h2>
            <% if @bookings_as_owner.nil? %>
              <p>Unfortunately, no one has booked with you yet...</p>
            <% else %>
              <% @bookings_as_owner.each do |book| %>
                <div class="card-product">
                  <%= cl_image_tag book.item.photo %>
                  <div class="card-product-infos">
                    <h2><%= book.item.name %></h2>
                    <div class="d-flex justify-content-between">
                      <p><%= book.start_date %></p>
                      <p><%= book.end_date %></p>
                    </div>
                    <% if book.status == "open" %>
                      <div class ="d-flex justify-content-between">
                        <%= link_to "Accept", booking_path(book, status: "approved"), method: :patch, class: "button-dark"  %>
                        <%= link_to "Decline", booking_path(book, status: "cancelled"), method: :patch, class: "button-light"  %>
                      </div>
                    <% else %>
                      <p> STATUS: <%= book.status.upcase %></p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="my-rents col-6">
            <h2>I booked</h2>
            <% if @own_bookings.nil? %>
              <p>Book something please</p>
            <% else %>
              <% @own_bookings.each do |book| %>
                <div class="card-product">
                  <%= cl_image_tag book.item.photo %>
                  <div class="card-product-infos">
                    <h2><%= book.item.name %></h2>
                    <div class="d-flex justify-content-between">
                      <p><%= book.start_date %></p>
                      <p><%= book.end_date %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
