<div class="container">
    <div class="row">

        <% @items.each do |item|%>
            <%= link_to item_path(item) do %>
                <div class="col">
                    <div class="card-large">
                        <%#= cl_image_tag item.photo, class: 'image' %>
                        <div class="image" style='background-image:url(<%=item.photo%>)'>
                        </div>
                        <div class="content">
                            <h3 class="item"><%=item.name%></h3>
                        </div>
                        <p>Category: <%=item.category.capitalize%></p> 
                        <p><%=item.details.capitalize%></p>
                        <div class="content">
                       
                        <h3 class="price"><%=item.price%> C</h3>
                        </div>
                    </div>
                </div>
            <%end%>            
        <%end%>
    </div>
</div>
