<% content_for(:title) do %>
  Watto's Garage
<% end %>

<div class="container">
    <div class="row">
        <% @items.each do |item|%>
            <%= link_to item_path(item) do %>
                <div class="col">
                    <div class="card-large">
                        <%#= cl_image_tag item.photo, class: 'image' %>
                            <div class="image" style='background-image:url(<%=item.photo%>)'>
                                <%if item.category == "starship"%>
                                    <i class="fas fa-rocket"></i>
                                <%elsif item.category == "vehicle"%>
                                    <i class="fas fa-car"></i>
                                <%else%>
                                <%end%>
                            </div>
                        <div class="content">
                            <h3 class="item"><%=item.name%></h3>
                        </div> 
                        <% details =  item.details.split(",") %>
                             <p class="details"><%= details[0].upcase %> 
                            <%= details[1].upcase %></p>
                            <p class="details"><%= details[2].upcase + details[3].upcase%></p>
                               <div class="content">
                        <h3 class="price"><%=item.price%> C</h3>
                        </div>
                    </div>
                </div>
            <%end%>
        <%end%>
    </div>
</div>
