<div class="container">
    <div class="row">

        <% @items.each do |item|%>
            <%= link_to item_path(item) do %>
                <div class="col">
                    <div class="card-large">
                        <div class="image" style='background-image:url("https://images.unsplash.com/photo-1562647017-7d25504253a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")'>
                        </div>
                        <div class="content">
                            <h3 class="item"><%=item.name%></h3>
                        </div>
                        <p>Category: <%=item.category.capitalize%></p> 
                        <p><%=item.details.capitalize%></p>
                        <div class="content">
                       
                        <h3 class="price"><%=item.price%> C</h3>
                        </div>
                    </div>
                </div>
            <%end%>            
        <%end%>
    </div>
</div>
