<% content_for(:title) do %>
  Rent out yourself!
<% end %>

<div class="container">
  <h1>Offer a new item</h1>
  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name %>
    <%= f.input :details %>
    <%= f.input :price %>
    <%= f.input :category %>
    <%= f.submit "Create", class: "button-dark" %>
  <% end %>
</div>
