<% content_for(:title) do %>
  Book <%= @item.name %>
<% end %>


<div class="container create-item">

      <div class="banner-show" style='background-image: url(<%=@item.photo%>)'=>
      </div>
      <div class="row" style="display:flex;flex-direction:row;justify-content:space-between">
      <h2>
       Rent <%= @item.name %> For<%if @item.price == 0%>
          <h2 style="text-shadow: 0px 4px 3px rgba(255, 233, 25,0.4),
             0px 8px 13px rgba(255, 233, 25,0.1),
             0px 18px 23px rgba(255, 233, 25,0.1)"><%="10 C/DAY" %></h3>
        <%else%>
          <h2 style="text-shadow: 0px 4px 3px rgba(255, 233, 25,0.4),
             0px 8px 13px rgba(255, 233, 25,0.1),
             0px 18px 23px rgba(255, 233, 25,0.1)"><%="#{@item.price} C/DAY" %></h3>
        <%end%>
      </h2>

      </div>
  <div class="row justify-content-between">
    <div class="detail-container col-4">

        <% details =  @item.details.split(",") %>
        <% details.each do |detail| %>
          <p>
            <%= detail.upcase %>
          </p>
        <% end %>
      <%if @item.location.nil? %>
      <%else%>
      <h3>Location</h3>
      <p>
        <%= @item.location %>
      </p>
      <%end%>
      <h3 style="font-size: 20px">Category</h3>
      <p>
        <%= @item.category.capitalize %>
      </p>
    </div>
    <div style="display:flex;flex-direction:column;align-items:center;padding-top:3px">
       <div style="display:flex;align-self:flex-end">

      </div>
    </div>
    <% if user_signed_in? %>
      <div class="form-booking col-4 pt-3 mt-2">
        <%= simple_form_for :booking, method: :post do |t| %>
          <%= t.input :start_date, as: :string, input_html: { id: "range_start"} %>
          <%= t.input :end_date, as: :string, input_html: { id: "range_end"} %>
          <%= t.submit "Book", class: "button-dark"%>
        <% end %>
      </div>
    <% else %>
      <div class="col-4 pt-3 mt-2">
        <div class="alert alert-info" id="showpage-alert">
          Please <%= link_to "login", new_user_session_path %> to <br>
          book this item
        </div>
      </div>
    <% end %>
  </div>
</div>
