<% content_for(:title) do %>
  Book <%= @item.name %>
<% end %>


<div class="container">

      <div class="banner-show" style='background-image: url(<%=@item.photo%>)'=>
      </div>
  <div class="row justify-content-between">
    <div class="detail-container col-4">
      <h2>
        <%= @item.name %>
      </h2>
        <% details =  @item.details.split(",") %>
        <% details.each do |detail| %>
          <p>
            <%= detail.upcase %>
          </p>
        <% end %>
      <%if @item.location.nil? %>
      <%else%>
      <h3>Location</h3>
      <p>
        <%= @item.location %>
      </p>
      <%end%>
      <h3>Category</h3>
      <p>
        <%= @item.category.capitalize %>
      </p>
    </div>
    <div>
        <div class="avatar-large" style="position:relative;top:10px">
        <%= image_tag "http://sharpball.co/wp-content/uploads/2019/01/darth-vader-printable-mask-image-0-darth-vader-mask-coloring-sheet.jpg", alt: "alttext", class: "avatar-large"%>
      </div>
        <div class="align-self-end">
          <%if @item.price == 0%>
            <h3 style="position:relative;bottom:-180px"><%= "10 C/DAY" %></h3>
          <%else%>
            <h3 style="position:relative;bottom:-180px"><%= "#{@item.price} C/DAY" %></h3>
          <%end%>
        </div>
      </div>
    <div class="form-booking col-4 pt-3 mt-2">
      <%= simple_form_for :booking, method: :post do |t| %>
        <%= t.input :start_date, as: :string, input_html: { id: "range_start"} %>
        <%= t.input :end_date, as: :string, input_html: { id: "range_end"} %>
        <%= t.submit "Book", class: "button-dark"%>
      <% end %>
    </div>
  </div>
</div>
